<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="/stylesheets/browse.css">
</head>
<body>
    <h1>Insert browse page here and a list of all books</h1>
</body>
</html>