<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">

</head>
<body>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate  >
                            <!-- <div>
                                <label  class="form-label" for="email"></label>
                                <input  class="form-control" type="text" id="email" name="email" required autofocus>
                            </div>
                            <div>
                                <label class="form-label" for="passkey"></label>
                                <input class="form-control" type="passkey" id="passkey" name="passkey" required>
                    
                            </div> -->
                            <!-- fname, lname, pincode, add, contact, dob, email, passkey, amount -->

                            
                    
                            <button class="btn btn-success btn-block" >Log in</button>
                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>