body {
    background: linear-gradient(to right, #9f7b55, #6b4f31);
  }

  h1 {
    line-height: 75px;
    text-align: center; /* Center the text */
    color: white; /* Change the text color to white */
    font-weight: 600; /* Set the font weight to 600 */
    border-bottom: 2px solid #5f4b36; /* Add a bottom border */
    padding-bottom: 10px; /* Add some padding to give space between the text and the line */
  }  

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    margin: 20px;
    background: linear-gradient(to right, #d889c8, #8d68e2); /* Add a pink-purple gradient */
    color: white; /* Change the text color to white */
    overflow: auto; /* Add a scrollbar if the content is too large */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-body {
    padding: 20px;
    color: white; /* Change the text color to white */
  }

  .card-info {
    background: #71583c; /* Add a gradient background */
    color: white; /* Change the text color to white */
    padding: 5px;
    width: 375px;
    margin-top: 10px;
  }

  .btn {
    background-color: #56432e; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove the underline */
    display: inline-block;
    font-size: 16px;
    margin: 60px 2px;
    transition-duration: 0.4s; /* Add a transition */
    cursor: pointer; /* Change the cursor when hovering over the button */
    line-height: 25px;
  }
  
  .btn:hover {
    background-color: white; /* Change the background color when hovering */
    color: #71583c; /* Change the text color when hovering */
  }
  
  .cart-button {
    position: fixed;
    right: 20px;
  }