body {
    padding: 20px;
    background: linear-gradient(to right, #765a3c, #9a8773);
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid #5e5042;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1.2em;
}

th {
    background-color: #2b2825;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.checkout-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #2b2825;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #544c43;
}

.btn {
    background-color: #2b2825;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 60px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    line-height: 25px;
}

.btn:hover {
    background-color: white;
    color: #2b2825;
}

.navbar {
    background-color: #674b2f; /* Brown color */
}

.btn-danger {
    background-color: #2b2825;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    line-height: 25px;
}

.btn-danger:hover {
    background-color: white;
    color: #2b2825;
}